<head>

 <% include partials/header %>

</head>

<body>

  <!-- Navigation -->
  <% include partials/nav %>

  <!-- Page Header -->
  <% include partials/pagehead %>

  <!-- Main Content -->
  <a href="/write">Write</a>
  <a href="/edit">Edit</a>


  <% for (var i=0; i < Posts.length; i++) { %>
  <div class="post-preview">
  <h2 class="post-title"><a href="/post"><%= Posts[i].title %></a></h2>
  <p class="post-meta">Posted by <a href="#"><%= Posts[i].author %></a> on August 24, 2017</p>
  <p><%= Posts[i].content %></p>
  <% } %>
  </div>
  <hr>

  <!-- Pager -->
  <div class="clearfix">
    <a class="btn btn-secondary float-right" href="#">Older Posts &rarr;</a>
  </div>

  <!-- Footer -->
  <footer>
  <% include partials/footer %>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/popper/popper.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="js/clean-blog.min.js"></script>
  

</body>