<head>
<title>Edit Post</title>
 <% include partials/header %>

</head>

<body>

  <!-- Navigation -->
  <% include partials/nav %>

  <!-- Page Header -->
  <% include partials/pagehead %>
<body>
<form action="/edit" method="POST">
	
	<input type="text" name="title" placeholder="post title" value=""/><br />
	<input type="text" name="author" placeholder="author" value=""/><br />
	<textarea name="content" placeholder="content" value=""></textarea><br />	
<button type="submit" id="update" value="update">Update</button>

<% include partials/footer %>
<script src="public/main.js"></script>




</body>
